<div class = "aboutMe">
  <div id="columnOne">
    <div class="aboutMeTitle">
      <p>Hi there, friend</p>
    </div>
    <div class="aboutBody">
      <img src="../../assets/img/me2.jpg" class="mainImage">
      <p>I am currently a full-time student at Epicodus PDX with a focus in Ruby/Rails and JavaScript. My talents are evenly balanced between backend logic and front end design. I love the challenge of creative problem solving, learning new languages, and improving and drying out my code. At the same time my background in design allows me to make beautiful projects, and work cohesively with creative designers in a way that is rewarding for everyone. </p>

      <p>Prior to Epicodus I spent 10+ years as a self-employed clothing designer. I am entirely self-taught and have learned marketing, graphic design, sales, product and project management, photography, and a slew of other skills. My desire to learn pushed my design work to their current points, and will prove invaluable as I transition to a new field. I loved the creativity of my work as a designer, but I craved more of a challenge. I am excited to jump into the tech community where my curiosity, work-ethic, and problem solving skills will continue to be utilized and appreciated. </p>

    </div>
  </div>
</div>
