.aboutMe {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 75%;
}

.mainImage {
  width: 450px;
  float: left;
  margin-right: 15px;
}

.aboutMeTitle {
  font-size: 25px;
  font-family: 'Alegreya Sans SC', sans-serif; font-weight: 300; letter-spacing: 3px;
  padding: 5px;
  text-transform: uppercase;
}

.aboutBody {
  flex-wrap: nowrap;
}

#columnOne {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #1a1a1a;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

hr {
  border: 1px solid #1a1a1a;
  width: 100%;
}
