.blogList {
  margin-left:auto !important;
  margin-right:auto !important;
  width: 70% !important;
}

.cardImage {
  position: relative;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

#blogListHeader {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#blogListTitle {
  color: whitesmoke;
  font-size: 30px !important;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  background-color: #1a1a1a;
  text-transform: uppercase;
}

p {
  font-family: 'Raleway', sans-serif;
}

#repeatedCard {
  margin top: 25px;
  margin-bottom: 25px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-text {
  padding: 10px;
}

.blogLink {
  padding: 10px;
  font-weight: bold;
}

.blogBody{
  white-space: pre-wrap;
  
}
