.blogList {
  margin-left:auto !important;
  margin-right:auto !important;
  width: 80% !important;
}

#blogListHeader {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.cardImage {
    position: center;
    height: 350px;
    width: 100%;
    overflow: hidden;
}

#blogListTitle {
  color: whitesmoke;
  font-size: 25px !important;
  font-family: 'Poller One', cursive;
  background-color: #1a1a1a;
}

p {
  font-family: 'Raleway', sans-serif;
}

#repeatedCard {
  margin top: 10px;
  margin-bottom: 10px;
}
