.blogList {
  margin-left:auto !important;
  margin-right:auto !important;
  width: 80% !important;
}

.cardImage {
  position: relative;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

#blogListHeader {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#blogListTitle {
  color: whitesmoke;
  font-size: 25px !important;
  font-family: 'Poller One', cursive;
  background-color: #1a1a1a;
}

p {
  font-family: 'Raleway', sans-serif;
}

#repeatedCard {
  margin top: 10px;
  margin-bottom: 10px;
}
