<div class="createAccount">
  <div class="form-group">
    <label>User Name</label>
    <input #screenName class="form-control" placeholder="User Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input #userEmail class="form-control" placeholder="E-mail">
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="createAccount(screenName.value, userEmail.value); screenName.value=''; userEmail.value=''">
      CreateAccount
    </button>
  </div>
</div>

<div class="login">
  <div class="form-group">
    <label>User Name</label>
    <input #userScreenName class="form-control" placeholder="User Name" required>
  </div>
  <div class="form-group">
    <label>User E-mail</label>
    <input #userEmail class="form-control" placeholder="E-mail" required>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="login(userScreenName.value, userEmail.value); userEmail.value=''; userScreenName.value=''">
      Login With E-mail
    </button>
  </div>
</div>
