.projectList {
  margin-left:auto !important;
  margin-right:auto !important;
  width: 100%;
  margin: 0 auto;
}

.project-image:hover {
  opacity: .5;
  position: relative;
  transition: all 0.5s ease;
}

.project-title {
  width: 100% !important;
  height: 400px;
  color: whitesmoke;
  font-size: 25px !important;
  font-family: 'Alegreya Sans SC', sans-serif; font-weight: 300; letter-spacing: 3px;
  background-color: #1a1a1a;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding-top: 120px;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.project-image {
  width: 100%;
  overflow: hidden;
  display: inline;
  float: left;
  position:relative;
}

.projectLink {
  padding: 10px;
  font-weight: bold;
}

.project-holder {
  width: 33.3% !important;
  height: 400px;
  float: left;
  position: relative;
  overflow: hidden;
}
