<nav class="navbar navbar-expand-xl">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Anna Marie </a>
    <img src="./assets/img/beetleflipped.gif" class="d-none d-lg-block" id="headerBeetle">
    <button class="navbar-toggler ml-auto custom-toggler" type="button"  data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" routerLink="about-me">About Me</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="portfolio">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="blog">Blog</a></li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
      <li *ngIf="!isLoggedIn"class="nav-item">
        <a class="nav-link" (click)="login()">Log In</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="mailto:annamarie@rogueminx.com"><i class="material-icons small">email</i></a></li>
    </ul>
  </div>
</nav>


  <div class="routerContainer">
    <router-outlet></router-outlet>
  </div>

<footer class="footer">
  <div class="footer-container">
    <table class="footerTable">
      <div class="row">
        <div class="col-md-3">
          <div class="d-none d-lg-block">
            <img src="./assets/img/hells.gif" id="footerFlowers01">
          </div>
        </div>
        <div class="col-md-6">
          <table class="footerTableSmall">
            <div class="col">
              <div *ngIf="isAdmin && isLoggedIn">
                <p><a routerLink="admin">Admin</a></p>
              </div>
              <p>Copyright &copy; 2018 Anna-Marie Cooper. All rights reserved.</p>
            </div>
          </table>
        </div>
        <div class="col-md-3">
          <div class="d-none d-lg-block">
            <p><img src="./assets/img/hells2.gif" id="footerFlowers02"></p>
          </div>
        </div>
      </div>
    </table>
  </div>
</footer>
