<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Anna Marie Cooper</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about-me">About Me</a></li>
      <li><a routerLink="portfolio">Project Portfolio</a></li>
      <li><a routerLink="blog">Personal Blog</a></li>
      <li *ngIf="isLoggedIn">
        <a>{{userName}}</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">Log Out</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a (click)="login()">Log In</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="routerContainer">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div *ngIf="isLoggedIn">
      <a class="text-muted" (click)="isAdmin()" routerLink="admin">Admin</a>
    </div>
  </div>
</footer>
