<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="about-me">About Me</a></li>
      <li><a routerLink="portfolio">Project Portfolio</a></li>
    </ul>
    <img src="./assets/img/beetle.gif" id="headerBeetle">
    <a class="navbar-brand" routerLink="">Anna Marie</a>
    <img src="./assets/img/beetleflipped.gif" id="headerBeetle">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="blog">Personal Blog</a></li>
      <!-- <li *ngIf="isLoggedIn">
        <a>{{userName}}</a>
      </li> -->
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">Log Out</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a (click)="login()">Log In</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="routerContainer">
    <router-outlet></router-outlet>
  </div>

<footer class="footer">
  <div class="footer-container">

      <table class="footerTable">
        <div class="row">
          <div class="col-md-2">
            <img src="./assets/img/hells.gif" id="footerFlowers">
          </div>
          <div class="col-md-8">
            <table class="footerTableSmall">
              <div class="row">
                <div class="col">
                  <p>Copyright &copy; 2018 Anna-Marie Cooper. All rights reserved.</p>
                </div>
              </div>
              <div class="row">
                <div *ngIf="isAdmin && isLoggedIn" class="col">
                  <p><a routerLink="admin">Admin</a></p>
                </div>
              </div>
            </table>
          </div>
          <div class="col-md-2">
            <p><img src="./assets/img/hells2.gif" id="footerFlowers"></p>
          </div>
        </div>
      </table>
    
  </div>
</footer>
