ul {
  list-style-type: none;
}

li {
  margin-left: 20px;
}

a {
  color: whitesmoke !important;
}

.routerContainer {
  margin: 0px auto;
  width: 100%;
  margin-bottom: 100px;
}

.navbar {
  height: 80px;
}

.footer {
   height: 70px;
   width: 100%;
   margin: 0px auto;
}

#footerFlowers {
  position: relative;
  bottom: 85px;
  width: 300px;
  transform: translateX(-25%);
}
