<div class="buttonRow">
  <div *ngIf="!projectTime && !bloggingTime && !uploadTime">
    <button class="largeButton" (click)="timeToBlog()">Post to Blog</button>
  </div>

  <div *ngIf="!projectTime && !bloggingTime && !uploadTime">
    <button class="largeButton" (click)="timeForProjects()">Add to Portfolio</button>
  </div>

  <div *ngIf="!projectTime && !bloggingTime && !uploadTime">
    <button class="largeButton" (click)="timeForUploading()">UploadPhotos</button>
  </div>
</div>

<div class="adminForm" *ngIf="bloggingTime">
  <div class="table">
    <div class="form-row">
      <div class="col" id="form-col">
        <div>
          <label>Blog Title:</label>
          <br>
          <input #newTitle id="blogTextTitleArea">
        </div>
        <div>
          <label>Blog Body:</label>
          <br>
          <textarea #newPostBody id="blogTextArea"></textarea>
        </div>
        <div>
          <label>Header Photo:</label>
          <br>
          <input #blogHeader id="blogPhotoArea">
        </div>
        <div>
          <label>Tags:</label>
          <select #blogTag>
            <option value="coding"> Coding </option>
            <option value="clothingDesign"> Clothing Design </option>
            <option value="photography"> Photography </option>
            <option value="photography"> Graphic Design </option>
          </select>
        </div>

      </div>
      <div class="col-md-6">
        <div>
          <label>Small Photos:</label>
          <div class="photo-input">
            <input #smallPhoto01>
          </div>
          <div class="photo-input">
            <input #smallPhoto02>
          </div>
          <div class="photo-input">
            <input #smallPhoto03>
          </div>
          <div class="photo-input">
            <input #smallPhoto04>
          </div>
          <div class="photo-input">
            <input #smallPhoto05>
          </div>
          <div class="photo-input">
            <input #smallPhoto06>
          </div>
          <div class="photo-input">
            <input #smallPhoto07>
          </div>
        </div>
        <br>
        <button (click)="submitBlog(newTitle.value, newPostBody.value, blogTag.value, blogHeader.value, smallPhoto01.value, smallPhoto02.value, smallPhoto03.value, smallPhoto04.value, smallPhoto05.value, smallPhoto06.value, smallPhoto07.value); blogTag.value=''; newTitle.value=''; newPostBody.value=''; blogHeader.value=''; smallPhoto01.value=''; smallPhoto02.value=''; smallPhoto03.value=''; smallPhoto04.value=''; smallPhoto05.value=''; smallPhoto06.value=''; smallPhoto07.value=''">Post to Blog</button>
        <br>
        <button (click)="doneBlogging()">Done</button>
      </div>
    </div>
    <hr>
    <div class="row" id="photo-container">
      <div *ngFor="let upload of uploads | async">
        <div class="col" id="photo-info">
          <div class="row">
            <div class="col" id="photo-box">
              <img id="thumbnail" src="{{(upload)?.url}}">
            </div>
            <div class="col" id="photo-text">
              <input type="text" value="{{(upload)?.url}}" id="photoInput"> <button (click)="copyFunction(photoInput.value)">Copy text</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="adminForm" *ngIf="projectTime">
  <div class="table">
    <div class="form-row">
      <div class="col" id="form-col">
        <div>
          <label>Project Title:</label>
          <br>
          <input #newProjectTitle id="textBox">
        </div>
        <div>
          <label>Project Description:</label>
          <br>
          <textarea #newProjectDescription id="projectTextArea"></textarea>
        </div>
        <div>
          <label>Project Challenges:</label>
          <br>
          <textarea #newProjectChallenges id="projectChallengeArea"></textarea>
        </div>
        <div>
          <label>Github URL:</label>
          <br>
          <input #gitUrl id="textBox">
          <br>
        </div>
        <div>
          <label>Deployed URL:</label>
          <br>
          <input #deployedUrl id="textBox">
          <br>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <label>Header Photo:</label>
          <br>
          <input #photoHeader>
        </div>
        <label>Small Photos:</label>
        <div class="photo-input">
          <input #smallPhoto01>
        </div>
        <div class="photo-input">
          <input #smallPhoto02>
        </div>
        <div class="photo-input">
          <input #smallPhoto03>
        </div>
        <div class="photo-input">
          <input #smallPhoto04>
        </div>
        <div class="photo-input">
          <input #smallPhoto05>
        </div>
        <div class="photo-input">
          <input #smallPhoto06>
        </div>
        <div class="photo-input">
          <input #smallPhoto07>
        </div>
        <button (click)="submitProject(newProjectTitle.value, newProjectDescription.value, newProjectChallenges.value, gitUrl.value, deployedUrl.value, photoHeader.value, smallPhoto01.value, smallPhoto02.value, smallPhoto03.value, smallPhoto04.value, smallPhoto05.value, smallPhoto06.value, smallPhoto07.value); newProjectTitle.value=''; newProjectDescription.value=''; newProjectChallenges.value=''; gitUrl.value=''; deployedUrl.value=''; photoHeader.value=''; smallPhoto01.value=''; smallPhoto02.value=''; smallPhoto03.value=''; smallPhoto04.value=''; smallPhoto05.value=''; smallPhoto06.value=''; smallPhoto07.value=''">Post Project</button>
        <br>
        <button (click)="doneWithProjects()">Done</button>
      </div>
    </div>
    <hr>
    <div class="row" id="photo-container">
      <div *ngFor="let upload of uploads | async">
        <div class="col" id="photo-info">
          <div class="row">
            <div class="col" id="photo-box">
              <img id="thumbnail" src="{{(upload)?.url}}">
            </div>
            <div class="col" id="photo-text">
              <input type="text" value="{{(upload)?.url}}" id="photoInput"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="adminForm" *ngIf="uploadTime">
<div>
  <app-uploads></app-uploads>
  <br>
  <button (click)="doneWithUploading()">Done</button>
</div>
