<h3>New Blog Post</h3>
<p>Use this form to create new blog posts.</p>
<div>
  <div>
    <label>Blog Title:</label>
    <br>
    <input #newTitle >
  </div>

  <div>
    <label>Date:</label>
    <br>
    <input #newDate type="date" id="exampleInput" name="input" placeholder="yyyy-MM-dd" min="2018-01-01" required />
  </div>

  <div>
    <label>Blog Body:</label>
    <br>
    <textarea #newPostBody id="blogTextArea"></textarea>
  </div>
  <button (click)="submitBlog(newTitle.value, newDate.value, newPostBody.value); newTitle.value=''; newDate.value=''; newPostBody.value=''">Add</button>
</div>
