<div class = "projectDetail">
  <div id="columnOne">
    <div class="projectTitle">
      <h3>{{(projectToDisplay)?.projectTitle}}</h3>
      <a href="{{(projectToDisplay).gitURL}}" class="projectLink">(view on Github)</a>
    </div>
    <div class="projectBody">
      <h5>Description</h5>
      <p>{{(projectToDisplay)?.description}}</p>
      <h5>Difficulties</h5>
      <p>{{(projectToDisplay).challenges}}</p>
    </div>
  </div>
  <div id="columnTwo">
    <div class="mainPhoto">
      <img src="{{(projectToDisplay)?.photoHeader}}" class="mainProjectImage">
    </div>
    <hr>
    <div class="photoRow">
      <p *ngFor="let photo of photos">
        <span id="photoHolder">
          <img src="{{photo}}" class="projectImages" (click)="swapPhoto(photo)">
        </span>
      </p>
    </div>
  </div>
</div>
