<div class = "projectDetail">
  <div id="columnOne">
    <div class="projectTitle">
      <p>{{(projectToDisplay)?.projectTitle}}</p>
      <p><span *ngIf="(projectToDisplay).deployedURL">
      <a href="{{(projectToDisplay).deployedURL}}"><i class="material-icons small icons-black">computer</i></a> | </span>
      <a href="{{(projectToDisplay).gitURL}}"><i class="material-icons small icons-black">dvr</i></a></p>
    </div>
    <div class="projectBody">
      <h5>Description</h5>
      <p>{{(projectToDisplay)?.description}}</p>
      <h5>Difficulties</h5>
      <p>{{(projectToDisplay).challenges}}</p>
    </div>
  </div>
  <div id="columnTwo">
    <div class="mainPhoto">
      <img src="{{(projectToDisplay)?.photoHeader}}" class="mainProjectImage">
    </div>
    <hr>
    <div class="photoRow">
      <p *ngFor="let photo of photos">
        <span id="photoHolder">
          <img src="{{photo}}" class="projectImages" (click)="swapPhoto(photo)">
        </span>
      </p>
    </div>
  </div>
</div>
