.blogDetail {
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.mainBlogImage {
  width: 450px;
  margin-left:auto;
  margin-right:auto;
}

.blogTitle {
  font-size: 35px;
  font-family: 'Alegreya Sans SC', sans-serif; font-weight: 300; letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px;
}

.blogBody {
  flex-wrap: nowrap;
}

#columnOne {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #1a1a1a;
  border-radius: 15px;
  width: 50%;
  padding: 10px;
}

#columnTwo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  overflow: hidden;
  padding: 10 0 10 0px;
}

.photoRow {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#photoHolder {
  width:100px;
  overflow: hidden;
}

.blogImages  {
  height: 150px;
  width:100px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.blogDate {
  text-align: right;
  font-size: 10px;
  font-style: italic;
}

hr {
  border: 1px solid #1a1a1a;
  width: 100%;
}
