<div class = "blogDetail">
  <div id="columnOne">
    <div class="blogTitle">
      <h3>{{(blogToDisplay)?.title}}</h3>
    </div>
    <hr>
    <div class="blogBody">
      <p [innerHTML]="cleanHTML((blogToDisplay)?.postBody)"></p>
    </div>
    <div class="blogDate">
      <p>Published: {{(blogToDisplay)?.date}}</p>
    </div>
    <hr>
    <div class="photoRow">
      <p *ngFor="let photo of photos">
        <span id="photoHolder">
          <img src="{{photo}}" class="blogImages" (click)="swapPhoto(photo)">
        </span>
      </p>
    </div>
  </div>
  <div id="columnTwo">
      <div class="mainPhoto">
        <img src="{{(blogToDisplay)?.blogHeader}}" class="mainBlogImage">
      </div>
  </div>
</div>
