.rosephoto {
  width: 300px;
}

.mothphoto {
  width: 250px;
}

.imageholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  opacity: .4;
  font-size: 12px;
}
