.rosephoto {
  max-width: 100%;
  height: auto;
}

.mothphoto {
  max-width: 100%;
  height: auto;
}

.mainimageholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.imageholder {
  max-width: 25%;
  height: auto;
}

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  opacity: .4;
  font-size: 12px;
}
