<p>Click & Drag to Arrange</p>
<div class="imageholder">
  <div ngDraggable>
    <img src="./assets/img/rose02.gif" class="rosephoto" alt="">
  </div>
  <div ngDraggable>
    <img src="./assets/img/moth03.gif" class="mothphoto" alt="">
  </div>
  <div ngDraggable>
    <img src="./assets/img/rose03.gif" class="rosephoto" alt="">
  </div>
  <div ngDraggable>
    <img src="./assets/img/moth04.gif" class="rosephoto" alt="">
  </div>
  <div ngDraggable>
    <img src="./assets/img/rose06.gif" class="rosephoto" alt="">
  </div>
  <div ngDraggable>
    <img src="./assets/img/Moth02.gif" class="mothphoto" alt="">
  </div>
  <div ngDraggable>
    <img src="./assets/img/rose05.gif" class="rosephoto" alt="">
  </div>
</div>
